.navigations {
  display: flex;
  margin-right: 172px;
}

.navigations__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.navigations__link {
  @include text;

  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms linear, opacity 250ms linear;

  &--current {
    @include text(
      $weight: 700,
      $size: 15,
      $height: 18,
      $color: var(--accent-text-color),
      $opacity: 1
    );
  }

  &:hover,
  &:focus {
    color: var(--accent-text-color);
    opacity: 1;
  }
}
