:root {
  --main-text-color: #0f0101;
  --second-text-color: #000000;
  --button-text-color: #fafafa;
  --white-text-color: #ffffff;
  --accent-text-color: #d23166;
  --main-bg-color: #ffffff;
  --second-bg-color: #f8edf0;
  --accent-bg-color: #d64374;
  --footer-bg-color: #0a0808;
}
