.container {
  width: 1160px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  &--header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
